@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500&family=DM+Mono:wght@300;400;500&display=swap');
@import '@angular/material/prebuilt-themes/azure-blue.css';

/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  background: #090910;
  font-family: 'DM Mono', monospace;
}

body {
  color: #ece4d7;
}
